# Basic Python

## 1. Split this string

In [2]:
s = "Hi there Sam!"

In [3]:
print(*s.split())

Hi there Sam!

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [9]:
planet = "Earth"
diameter = 12742

In [11]:
print("The diameter of {planet} is {diameter} kilometers".format(planet = "Earth",diameter = 12742))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
p=d['k1'][3]
n=p['tricky'][3]
print(n['target'][3])

hello

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [14]:
a = [0,0,0,0,0,0,0,0,0,0]
b = [5,5,5,5,5,5,5,5,5,5]

In [15]:
a
b

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## 5. Create an array of all the even integers from 20 to 35

In [21]:
a=[]
for b in range(20,35):
  if b%2==0:
    a.append(b)
print(a)

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [23]:
a=[]
b=0
c=0
while b<8:
  c=0
  d=[]
  while c<3:
    d.append(b)
    b+=1
    c+=1
  a.append(d)
print(a)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [25]:
import numpy as np

h=np.array([1,2,3])
i=np.array([4,5,6])
print(np.concatenate((h,i),axis=0))

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [26]:
import pandas as pd

In [28]:
a = [20,30,40]
mp = pd.DataFrame(a,columns=['Numbers'])

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [29]:
import datetime

date = datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
m = 41
date_gen = pd.date_range(date,periods = m)
print(date_gen.strftime("%d-%m-%Y"))

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-2023',
       '06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-2023',
       '11-01-2023', '12-01-2023', '13-01-2023', '14-01-2023', '15-01-2023',
       '16-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '20-01-2023',
       '21-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023',
       '26-01-2023', '27-01-2023', '28-01-2023', '29-01-2023', '30-01-2023',
       '31-01-2023', '01-02-2023', '02-02-2023', '03-02-2023', '04-02-2023',
       '05-02-2023', '06-02-2023', '07-02-2023', '08-02-2023', '09-02-2023',
       '10-02-2023'],
      dtype='object')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [31]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [34]:
mp = pd.DataFrame(lists,columns = ['SI','Name','NUMBER'])

In [36]:
mp

   SI Name  NUMBER
0   1  aaa      22
1   2  bbb      25
2   3  ccc      24